/* login page styles for Portal, TVE and RVE */

.login-page {
        margin-left: 0px; 
        background-color: $brand-white;
   }

.login-page .panel-body {
	padding: 10px 15px;
}

.login-page .form-group {
	margin-bottom: 10px;
}

.login-page-content {
    position: relative;
    top: -10px;
    left: 0;
}

.login-page-content .panel-title {
    font-weight: bold;
}

.login-box-logo {
    float: left;
    margin-top: -4px;
    margin-right: 9px;
    margin-left: 0px; 
}

.logged-out-sidebar {
    position: fixed;
    z-index: 150;
    top: 53px;
    left: 0;
    width: 240px;
    height: 1px;
    border-bottom: solid 3px #e0e0e0;
}