/* VF Portal classes */

/* Controls Menu sizing for Menu minimize button */

.vf-portal, .vfportal-expand {
	padding-left: 0px;
}

.vf-portal.portal-content-main, .vfportal-expand.portal-content-main {
  left: 0px;
  padding-left: 18px; }