/* Portal ex embedded styles */

.draft-status {
    background-color: $brand-orange;
    }

.status-id-1 {
  color: $brand-orange;
}

.status-id-5 {
  color: $brand-success;
}

.status-id-7 {
  color: $brand-danger;
}

.auth-status {
    background-color: $brand-success;
}